:root {
  --base-500: #A0AEC0;
  --base-200: #E2E8F0;
  --base-300: #E2E8F0;
  --base-400: #CBD5E0;
  --main-500: #6366f1;
  --main-400: #7F9CF5;
  --main-200: #c3dafe;
  --main-100: #EBF4FF;
  --solid: #FFF;
  --solid-900: #4a5568;
  --sidebar-bg: #edf2f7;
  --sidebar-color: #4a5568;
  --shadow: 0 10px 15px -3px rgba(36, 69, 101, 0.19), 0 4px 6px -2px rgb(208, 220, 232);
  --shadow-active: 0 0 0 2px currentColor, 0 10px 15px -3px rgba(36, 69, 101, 0.19), 0 4px 6px -2px rgb(208, 220, 232);
  --opener: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='white' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 24 24'%3E%3Cpath d='M3 12h18M3 6h18M3 18h18'/%3E%3C/svg%3E");
  --opener-active: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='white' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1' viewBox='0 0 24 24'%3E%3Cpath d='M19 12H5M12 19l-7-7 7-7'/%3E%3C/svg%3E");
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
/*  font-size: 16px; */
	color: #051c2c;
	margin: 0;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.StripeElement {
	font: inherit;
	color: currentColor;
	width: 100%;
	height: 1.1876em;
	display: block;
	padding: 18.5px 14px;
	min-width: 0;
	background: none;
	box-sizing: content-box;
	animation-name: mui-auto-fill-cancel;
	letter-spacing: inherit;
	animation-duration: 10ms;
	-webkit-tap-highlight-color: transparent;
	margin-top: 16px;
	margin-bottom: 8px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
	width: auto; 
}

.StripeElement:hover {
	border-color: rgba(0,0,0,1);	
}

#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #ef008f; 
  --gradient-color-2: #6ec3f4; 
  --gradient-color-3: #7038ff;  
  --gradient-color-4: #ffba27;
}
